@font-face {
    font-family: "creatoMedium";
    src: url('/assets/creato-display/CreatoDisplay-Medium.otf') format("opentype");
}

@font-face {
    font-family: "creatoRegular";
    src: url('/assets/creato-display/CreatoDisplay-Regular.otf') format("opentype");
}

@font-face {
    font-family: "creatoBold";
    src: url('/assets/creato-display/CreatoDisplay-Bold.otf') format("opentype");
}

.violeta{
    color: #8A38F5;
}
.casinegro{
    color: #262626;
}
.fondo-crema{
    background-color: #FFFCE5;
}

.fuente{
    font-family: "creatoRegular";
}

h1{
    font-family: "creatoRegular";
    font-size: 60px;
}
h2{
    font-family: "creatoRegular";
    font-size: 40px;

    margin-left: 3em;
}
h3{
    font-family: "creatoRegular";
    font-size: 20px;
    font-weight: 200;
}
h4{
    font-size: 18px;
    font-weight: 400;
}
p{
    font-family: "creatoRegular";
    font-size: 18px;
}
span{
    font-family: "creatoRegular";
    font-size: 12px;
    font-weight: 600;
    color: gray;
}

.parrafoPrinci{
    font-family: "creatoRegular";
    font-size: 22px;
    text-align: left;
}
.titExp{
    font-weight: 600;
}

#header1{
    margin-top: 100px;
}

.cajita-header{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.item-header{
    font-family: "creatoRegular";
    font-size: 25px;
    font-weight: 300;
}

.borde-bottom{
    border-bottom: 1px solid black;
}

i{
    font-size: 30px;
}

/*ABOUT*/

#about2{
    margin-top: 100px;
}
#about3{
    left: 0;
}


#about {
    position: relative;
    z-index: 2;
}

#about::before {
    content: "";
    position: absolute;
    left: 0%;
    top: 20%;
    width: 40%;
    height: 55%;
    background-color: #262626;
    z-index: 0;
}

#cajaAbouts {
    position: absolute;
    top: 10%;
    z-index: 3;
}

#about::after {
    content: "";
    position: absolute;
    right: 0%;
    top: 25%;
    width: 30%;
    height: 40%;
    background-color: #262626;
    z-index: 0;
}

#sliderCategorias{
    gap: 40px;
    flex-wrap: wrap;
}

.categoria{
    width: 30%;
    height: 10vh;
    border-radius: 10px;
    background-color: #262626;
}

/*EXPIERENCE*/

#linea::before{
    content: "";
    position: absolute;
    left: 20%;
    top: 0;
    width: 1.5px;
    height: 100px;
    background-color: #262626;
}

#linea::after{
    content: "";
    position: absolute;
    left: 19.6%;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #8A38F5;
}

/*SKILLS*/

.boxSkill{
    gap: 30px;
}

/*FOOTER*/

.caja-footer{
    gap: 20px;
}
